<h3>Share art on</h3>
<div style="margin-top: 15%;margin-left: 25%;">
    <a href="https://www.gmail.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/300px-Gmail_icon_%282020%29.svg.png" alt="" width="10%"></a>
    <a href="https://www.instagram.com/" ><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/225px-Instagram_logo_2022.svg.png" alt="" width="9%" style="margin-left: 10%;"></a>
    <a href="https://www.facebook.com/"><img style="margin-left: 10%;" src="https://3.bp.blogspot.com/-S8HTBQqmfcs/XN0ACIRD9PI/AAAAAAAAAlk/A_3ZXg7xO4YyGrKDhMpr6YRgrtOMn9tHwCLcBGAs/s1600/f_logo_RGB-Blue_1024.png" alt="" width="9%"></a>
    <a href="https://www.twitter.com/"><img  style="margin-left: 10%;" src="https://about.twitter.com/content/dam/about-twitter/x/brand-toolkit/logo-black.png.twimg.1920.png" alt="" width="7%"></a>
</div>