p{
    margin-left: 15rem;
    margin-right: 15rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    color: #5be4ff;
    line-height: 1.7em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}