p{
    font-size: 1.2rem;
    padding: 5rem;
    margin-left: 10rem;
    margin-right: 11rem;
    line-height: 1.7em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    margin-left: 15rem;
    margin-right: 15rem;
}