<div class="bg-light">
    <p>The website boasts of a simple and minimalist design that prominently features a navigation bar at the top, comprising different pages that a user can explore. The carousel below the navigation bar provides the user with a glimpse of the artworks in the collection. Then comes the search bar, which allows the user to search for specific artworks based on their interest. The grid-style display of various art works from the collection, each with the relevant title and artist name displayed below the image, provides an easy-to-navigate platform for users to browse through the collection.
        The page looks like,
    </p>
    <img src="assets/images/Page1.PNG" alt="" width="70%">
    <img src="assets/images/Page2.PNG" alt="" width="70%">
    <p>
        On the gallery page, the art works are presented in a format that shows a search bar at the top, followed by a collection of art works displayed below it. The search bar allows users to locate and refine their searches to view specific art works that are of interest to them.
    </p>
    <img src="assets/images/Page3.PNG" alt="" width="70%">
    <p>
        When the user clicks on an art work, they would be taken to a page dedicated to that work. The page would have a larger image of the art work along with information about the artist, the date it was created, and any other relevant details. Below the image, there would be an "Add to Favorites" button. When clicked, the art work would be added to the user's list of favorites.
    </p>
    <img src="assets/images/Page4.PNG" alt="" width="70%">
    <p>
        To add art works to favorites, the user needs to be logged in. The user can access their favorite art works by clicking the "Favorites" page on the navigation menu. This page shows a grid of all the art works that the user has saved as favorites, displaying the same information available on the individual art work pages. Each image on the "Favorites" page has a "Remove" button that the user can click to remove the art work from their favorites list.
    </p>
    <img src="assets/images/Page5.PNG" alt="" width="70%">
    <img src="assets/images/Page6.PNG" alt="" width="70%" class="mb-2">
    <p>
        The about page gives inform about the art institute.
    </p>
    <img src="assets/images/Page7.PNG" alt="" width="70%">
    <p>
        Overall, this website would be user-friendly and easy to navigate, making it simple for visitors to the museum to browse the collection and save their favorite art works.
    </p>
</div>